--find-links https://data.pyg.org/whl/torch-2.5.0+cu124.html
numpy==2.2.2
torch==2.5.1
tqdm==4.66.6
pyg_lib
torch_cluster
torch_spline_conv
lion-pytorch
einops
optuna==4.5.0
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-geometric==2.6.1
yacs
tensorboardX==2.4.1 
protobuf==3.20.3
wandb==0.21.0
performer-pytorch
ruamel.yaml==0.18.14
matplotlib>=3.10.5 
torchmetrics>=1.4.1 
ogb==1.3.6
lightning==2.5.3
rdkit==2025.3.5
ipykernel==6.30.1
notebook==7.4.5
PyYAML==6.0.3
torchvision==0.20.1